{% extends "book/base.html" %}
{% block title %}Book Form{% endblock title %}

{% block content %}

<form method="POST" class="space-y-4">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700">Save</button>
</form>

{% if messages %}
  {% for message in messages %}
  <div class="mt-4 p-4 rounded text-white
    {% if message.tags == 'success' %}bg-green-500
    {% elif message.tags == 'error' %}bg-red-500
    {% else %}bg-gray-500{% endif %}">
    {{ message }}
  </div>
  {% endfor %}
{% endif %}


{% endblock content %}


